.main .paper {
	display: table;
	width: 100%;
}

.form-header > .branding > .logo-wrapper > img {
	border-width: 0px;
}

.form-footer > .form-footer__content > .form-footer__content__main-controls {
	flex: none;
}

@media screen and (min-width: 720px) {
  	.form-footer .enketo-power {
    	bottom: auto;
    	padding-bottom: 25px;
	}
}